<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.developer.facetracker">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".AppTrackService"
            android:enabled="true" />

        <receiver android:name=".AppTrackService$EnableAppReceiver">
            <intent-filter>
                <action android:name="com.example.developer.trackapps.ENABLE_APP" />
            </intent-filter>
        </receiver>

        <activity android:name=".FaceTrackerActivity" />
        <activity android:name=".ListApplicationActivity" />
        <activity android:name=".FaceRecognitionActivity" />
        <activity android:name=".SetPinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConfirmPinActivity"></activity>
        <activity android:name=".PinLockActivity"></activity>
    </application>

</manifest>